<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="life.chenshi.keepaccounts.module.setting">

    <application>

        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
    </application>
</manifest>